*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(225, 100%, 94%);
    font-size: 16px;
    font-family: 'Red Hat Display';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainContainer{
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    background-color: #fff;
}

img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.intro{
    margin: 2em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro h2{
    font-weight: 900;
    margin-bottom: 0.7em;
}

.intro p{
    font-weight: 300;
    text-align: center;
}

.plan{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3.5em;
    margin-bottom: 3em;
}

.plan img{
    width: 10%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 1.5em;
}

.details{
    font-weight: 300;
    margin-right: 8em;
    line-height: 1.5em;
}

.details :first-child{
    font-weight: 700;
}

.plan a{
    font-weight: 500;
}
.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

.payment p{
    font-weight: 500;
    margin-top: 1em;
    color: hsl(224, 23%, 55%);
}

button{
    font-weight: 700;
    color: white;
    background-color: hsl(245, 75%, 52%);
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    width: 25em;
    cursor: pointer;
}

button:hover{
    background-color: hsl(224, 23%, 55%);
}

.payment p{
    cursor: pointer;
}

@media(max-width:480px){
    body{
        font-size: 12px;
    }
    .mainContainer{
        max-width: 350px;
    }
    button{
        max-width: 300px;
    }
}